/* COLORES DE MARCA */
:root {
  --color-negro: #000000;
  --color-blanco: #ffffff;
  --color-acento: #e51c71;
  --color-secundario: #8bcdaf;
  --color-texto: #111111;
  --color-texto-secundario: #333333;
}

.btn-primary {
  background-color: var(--color-acento);
  border: none;
}

.btn-primary:hover {
  background-color: #c2185b;
}

/* TIPOGRAFÍA */
body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, .navbar-brand {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 800;
}

/* TÍTULOS DE SECCIONES */
.section-title {
  font-size: 2.3rem;
  font-weight: 700;
  margin-bottom: 60px;

  color: var(--color-texto);
}

.contacto-title {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--color-blanco);
}

/* LOGO */
.logo-navbar {
  height: 55px;
  width: auto;
}

@media (max-width: 768px) {
  .logo-navbar {
    height: 35px;
  }
}

/* NAVBAR */ 
.navbar-custom {
  background: transparent;
  transition: 0.3s;
}

/* NAVBAR (CUANDO HACE SCROLL)*/ 
.navbar-custom.scrolled {
  background-color: var(--color-negro);
}

/* LINKS DEL SITIO */
a {
  color: var(--color-acento);
}

a:hover {
  color: var(--color-secundario);
}

/* LINKS DEL NAVBAR */
.navbar-dark .navbar-nav .nav-link {
  color: var(--color-blanco);
}

/* HOVER NAVBAR */
.navbar-dark .navbar-nav .nav-link:hover {
  color: var(--color-secundario);
}

/* ICONO HAMBURGUESA */
.navbar-toggler {
  padding: 4px 8px;
  border: 1px solid var(--color-blanco);
  border-radius: 8px;
  box-shadow: none;
  background-color: rgba(0,0,0,0.1);
}

/* HACE EL ICONO HAMBURGUÉS COMPLETAMENTE BLANCO */
.navbar-toggler-icon {
  width: 24px;
  height: 24px;

  background-size: 24px;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,255,255,1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* HERO */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;

  background-image: 
    linear-gradient(rgba(229, 28, 113, 0.25), rgba(0, 0, 0, 0.7)),
    url("../img/Futura.png");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.contenido-hero {
  transform: translateY(80px);
}

/* BOTÓN WHATSAPP */
.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;

  background-color: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 9999;
}

/* ICONO WHATSAPP */
.whatsapp-float svg {
  width: 28px;
  height: 28px;
}

/* HOVER WHATSAPP */
.whatsapp-float:hover {
  transform: scale(1.1);
}

/* WHATSAPP MÓVIL (MUY IMPORTANTE) */
@media (max-width: 768px) {
  .whatsapp-float {
    bottom: 395px;
    right: 15px;
    width: 50px;
    height: 50px;
  }

  .whatsapp-float svg {
    width: 24px;
    height: 24px;
  }
}

/* TARJETAS SERVICIOS */
.servicio-card {
  background-color: var(--color-blanco);
  border: 4px solid rgba(255,255,255,0.9);
  border-radius: 22px;
  overflow: hidden;
  transition: 0.35s;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* HOVER TARJETAS */
.servicio-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 14px 30px rgba(0,0,0,0.15);
}

/* IMAGEN TARJETAS */
.servicio-card img {
  height: 240px;
  width: 100%;
  object-fit: cover;
  border-bottom: 4px solid var(--color-blanco);
}

/* CÍRCULO ICONO SERVICIOS */
.service-circle {
  width: 70px;
  height: 70px;
  background-color: var(--color-blanco);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -35px auto 15px;
  position: relative;
  z-index: 2;
  box-shadow: 0 5px 15px rgba(0,0,0,0.12);
}

/* ICONOS DE SERVICIOS */
.service-circle i {
  font-size: 2.5rem;
  color: var(--color-secundario);
}

/* AJUSTE ICONO FABRICACIÓN */
.icon-gear {
  font-size: 2.6rem;
}

/* AJUSTE ICONO MONTAJE */
.icon-wrench {
  font-size: 2.3rem;
}

/* AJUSTE ICONO REPARACIÓN */
.icon-tools {
  font-size: 2.2rem;
}

/* CONTENIDO TARJETAS DE SERVICIO*/
.servicio-card .card-body {
  background-color: var(--color-blanco);
  padding: 30px 25px;
}

/* TÍTULOS TARJETAS */
.servicio-card h4 {
  color: var(--color-texto);
  margin-bottom: 16px;
  font-weight: 700;
}

/* TEXTO TARJETAS */
.servicio-card p {
  color: var(--color-texto-secundario);
  line-height: 1.7;
}

/* ¿POR QUÉ ELEGIRNOS? */

.why-icon {
    font-size: 4rem;
    color: var(--color-acento);
    margin-bottom: 25px;
}

.why-icon + h4 {
    font-weight: 700;
    margin-bottom: 15px;
    color: var(--color-texto);
}

.patch-check-icon {
    font-size: 3.7rem;
}

.why-icon + h4 + p {
    color: var(--color-texto-secundario);
    line-height: 1.7;
}

.chat-heart-icon{
    font-size:3.6rem;
}

/* TESTIMONIOS */
.testimonial-card {
  background-color: var(--color-blanco);
  padding: 35px 25px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.testimonial-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

.testimonial-card img {
  object-fit: cover;
  border: 4px solid var(--color-secundario);
}

.testimonial-card p {
  color: var(--color-texto-secundario);
  font-style: italic;
  line-height: 1.6;
}

.testimonial-card h6 {
  color: var(--color-texto);
  font-weight: 700;
}

/* ESTRUCTURA y FONDO DEL FOOTER */
footer {
  background-color: var(--color-negro);
}

/* Sección alternativa (para variar diseño) */
.bg-soft {
  background-color: var(--color-secundario);
}

/* CONTENIDO, TEXTOS Y LINKS DEL FOOTER */
.footer-text {
  color: var(--color-blanco);
}

.footer-link {
  color: var(--color-acento);
  transition: 0.3s;
}

.footer-link:hover {
  color: var(--color-blanco);
}

/* ESPACIADO GENERAL DE LAS SECCIONES */
section {
  padding-top: 90px !important;
  padding-bottom: 90px !important;
}

.hero {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* SECCIONES GRANDES */
.section-lg {
  padding-top: 120px !important;
  padding-bottom: 120px !important;
}